	.box{
    height: 460px;
    width: 1226px;
    margin: 0 auto;
    /* background: url("https://sc04.alicdn.com/kf/H83df9d74754d402eb256f93f44510f85f/200594281/H83df9d74754d402eb256f93f44510f85f.jpg") center no-repeat; */
    /* background-size: 100%; */
    animation: donghua 5s linear infinite;
}
.box:hover{
    animation-play-state: paused;
}
@keyframes donghua{
    0%{
        background: url("https://sc04.alicdn.com/kf/H0a0ef9b75a174200ad9a67c2437f8b89u/200594281/H0a0ef9b75a174200ad9a67c2437f8b89u.jpg") center no-repeat;
        background-size: 100%;
    }
    25%{
        background: url("https://sc04.alicdn.com/kf/H0a0ef9b75a174200ad9a67c2437f8b89u/200594281/H0a0ef9b75a174200ad9a67c2437f8b89u.jpg") center no-repeat;
        background-size: 100%;
    }
    50%{
        background: url("https://sc04.alicdn.com/kf/H580aec16d69b4aaca5651544b190b1b30/200594281/H580aec16d69b4aaca5651544b190b1b30.jpg") center no-repeat;
        background-size: 100%;
    }
    78%{
        background: url("https://sc04.alicdn.com/kf/H2cddf0d287ef466ebbb0defb919fe00fZ/200594281/H2cddf0d287ef466ebbb0defb919fe00fZ.jpg") center no-repeat;
        background-size: 100%;
    }
}
